{{!-- container for each comment --}}
<article class="media">
    <figure class="media-left">
        <p class="image is-96x96">
            {{!-- container for user profile image --}}
            {{!-- <img class="is-rounded" src="{{../user.pfp_path}}"> --}}
            <img class="is-rounded" src="https://www.clipartmax.com/png/small/8-87550_free-to-use-popcorn-clip-art-movie-popcorn-clip-art.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p class="has-text-grey-lighter">
                <a href="/watchlist/{{user.id}}"><strong class="has-text-info">{{user.username}}</strong></a>
                <br>
    
                <div><small>{{format_date createdAt}}</small></div>
                <br>
                {{comment_text}}
                <br>
            </p>
        </div>
    </div>
</article>