{{!-- container for each comment --}}
{{!-- <article class="media">
    <figure class="media-left">
        <p class="image is-96x96">
            {{!-- container for user profile image --}}
            <img class="is-rounded" src="{{pfp_path}}">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p class="has-text-grey-lighter">
                <strong class="has-text-info">{{username}}</strong>
                <small>{{format_date createdAt}}</small>
                <br>
                {{comment_text}}
                <br>
                <a href="/{{content_type}}/{{content_id}}">
                    <small>Go to {{content_type}} page</small>
                </a>
            </p>
        </div>
    </div>
</article> --}}