{{!-- empty space --}}
<section>
    </br>
</section>
{{!-- Change user profile functionality --}}
<section id="profile-section" class="columns is-centered">
    <div class="column is-three-fifths custom-bg-color has-text-white" id="profile-container">
        <h2 id="dash-pro">Profile</h2>
        <article class="media">
            <figure class="media-left my-auto has-text-centered mx-3 px-1">
                {{!-- container for user profile image --}}
                <div class="is-size-3">{{user.username}}</div>
                <br>
                <p class="image">
                    {{!-- <img class="is-rounded dashboard-pfp-picture mx-auto" src="{{user.pfp_path}}"> --}}
                    <img class="is-rounded dashboard-pfp-picture mx-auto" src="https://www.clipartmax.com/png/small/8-87550_free-to-use-popcorn-clip-art-movie-popcorn-clip-art.png">
                </p>
                <br>
                <div>{{user.email}}</div>
            </figure>
            <div class="container">
                <form class="update-user-form" autocomplete="off">
                    <div class="field">
                        <label for="username" class="label has-text-light">New Username</label>
                        <div class="control">
                            <input type="text" placeholder="New username" id="username" class="input">
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label for="current-password" class="label has-text-light">Current Password</label>
                        <div class="control">
                            <input type="password" placeholder="Current Password" id="current-password" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label for="new-password" class="label has-text-light">New Password</label>
                        <div class="control">
                            <input type="password" placeholder="New Password" id="new-password" class="input">
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label for="email" class="label has-text-light">New Email</label>
                        <div class="control">
                            <input type="email" placeholder="New Email" id="email" class="input">
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label for="pfp_path" class="label has-text-light">New Profile Picture (link)</label>
                        <div class="control">
                            <input type="url" placeholder="New Profile Picture" id="pfp_path" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>

{{!-- All user comments --}}
<section id="comment-section" class="custom-bg-color has-text-white">
    <p class="has-text-weight-semibold">Comment Section</p>
    {{#each user.comments}}
    {{!-- container for each comment --}}
    <article class="media">
    <figure class="media-left">
        <p class="image is-96x96">
            {{!-- container for user profile image --}}
            {{!-- <img class="is-rounded" src="{{../user.pfp_path}}"> --}}
            <img class="is-rounded" src="https://www.clipartmax.com/png/small/8-87550_free-to-use-popcorn-clip-art-movie-popcorn-clip-art.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p class="has-text-grey-lighter">
                <strong class="has-text-info">{{username}}</strong>
                <small>{{format_date createdAt}}</small>
                <br>
                {{comment_text}}
                <br>
                <a href="/{{content_type}}/{{content_id}}">
                    <small>Go to {{content_type}} page</small>
                </a>
            </p>
        </div>
    </div>
</article>
    {{/each}}
</section>
<script src="/js/user-update.js"></script>